<discover-loading-indicator *ngIf="isLoading"></discover-loading-indicator>
<ng-container *ngIf="!isLoading">
    <div class="alert alert-danger" role="alert" *ngIf="!restaurant">
        Restaurant not found, please try a different one.
    </div>
    <ng-container *ngIf="restaurant">
        <div class="card shadow mb-4">
            <div class="row g-0">
                <div class="col-3">
                    <img [src]="restaurant.convertedImage" class="img-fluid rounded-start" />
                </div>
                <div class="col-9">
                    <div class="card-body">
                        <h1 class="card-title my-2">{{restaurant.name}}</h1>
                        <h2 class="card-subtitle mb-3 text-muted">
                            <span *ngFor="let category of restaurant.categories; last as isLast" class="me-2">
                                {{category}}
                                <ng-container *ngIf="!isLast"> | </ng-container>
                            </span>
                        </h2>
                        <div class="mb-1">
                            <strong>Price </strong>
                            {{restaurant.priceRange | priceRange}}
                        </div>
                        <div discover-rating [value]="restaurant.rating" class="mb-1"></div>
                        <div>
                            <strong>Location </strong>
                            {{restaurant.location}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <ul class="list-group list-group-flush mt-4">
                    <li class="list-group-item" *ngFor="let item of restaurant.items">
                        <div class="d-flex justify-content-between">
                            <span>
                                {{item.name}}
                                <small class="text-muted"
                                    *ngIf="item.allergyInformation">({{item.allergyInformation}})</small>
                            </span>
                            <span>
                                <span class="me-4">{{item.price | currency : 'EUR'}}</span>
                                <order-add-button [attr.id]="item.id"></order-add-button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>
</ng-container>