<form class="row g-3 mb-4" [formGroup]="filterForm" (ngSubmit)="search()">

    <div class="col-6 col-md-3">
        <label class="form-label" for="filter">Filter: </label>
        <input class="form-control" id="filter" type="text" formControlName="filter" autocomplete="off">
    </div>

    <div class="col-6 col-md-3">
        <label class="form-label" for="category">Category: </label>
        <select class="form-select" formControlName="category">
            <option [ngValue]=null>All</option>
            <option [value]="category.name" *ngFor="let category of categories">{{category.name}}</option>
        </select>
    </div>

    <div class="col-auto">
        <div class="form-label d-none d-sm-block">&nbsp;</div>
        <div>
            <input type="radio" class="btn-check" id="optionAll" autocomplete="off" formControlName="range"
                [value]="null">
            <label class="btn btn-secondary me-2" for="optionAll">All</label>

            <input type="radio" class="btn-check" id="optionCheap" autocomplete="off" formControlName="range"
                [value]="0">
            <label class="btn btn-secondary me-2" for="optionCheap">€</label>

            <input type="radio" class="btn-check" id="optionNormal" autocomplete="off" formControlName="range"
                [value]="1">
            <label class="btn btn-secondary me-2" for="optionNormal">€€</label>

            <input type="radio" class="btn-check" id="optionExpensive" autocomplete="off" formControlName="range"
                [value]="2">
            <label class="btn btn-secondary" for="optionExpensive">€€€</label>
        </div>
    </div>
    <div class="col-auto">
        <div class="form-label d-none d-sm-block">&nbsp;</div>
        <button class="btn btn-success">Search</button>
    </div>
    
</form>
<div class="row">
    <div class="col-12 col-md-6 mb-4" *ngFor="let restaurant of restaurants">
        <div class="card shadow clickable" [routerLink]="['/restaurants', restaurant.id]">
            <div class="row g-0">
                <div class="col-4">
                    <img [src]="restaurant.convertedImage" class="img-fluid rounded-start" />
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title mb-2 ">{{restaurant.name}}</h5>
                        <h6 class="card-subtitle mb-4 text-muted">
                            <span *ngFor="let category of restaurant.categories; last as isLast">
                                {{category}}
                                <ng-container *ngIf="!isLast"> | </ng-container>
                            </span>
                            <span class="ms-2">{{restaurant.priceRange | priceRange}}</span>
                        </h6>
                        <div discover-rating [value]="restaurant.rating"></div>
                        <div class="mt-3">
                            <strong>Location </strong> {{restaurant.location}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-info shadow" role="alert" *ngIf="!isLoading && !hasResults">
    No restaurants found.
</div>