<div data-toggle="tooltip" title="{{value | number : '.2-2'}}">
    <strong>Rating </strong>
    <span class="me-1"><i [ngClass]="value >= 0.5 ? 'bi-star-fill text-warning' : 'bi-star'"></i></span>
    <span class="me-1"><i [ngClass]="value >= 1.5 ? 'bi-star-fill text-warning' : 'bi-star'"></i></span>
    <span class="me-1"><i [ngClass]="value >= 2.5 ? 'bi-star-fill text-warning' : 'bi-star'"></i></span>
    <span class="me-1"><i [ngClass]="value >= 3.5 ? 'bi-star-fill text-warning' : 'bi-star'"></i></span>
    <span class="me-1"><i [ngClass]="value >= 4.5 ? 'bi-star-fill text-warning' : 'bi-star'"></i></span>
</div>